@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
:root {
    --dark-blue:  #1515ed;
    --light-blue: #6fbff5;
    --black: #121212;
    --blacker: #000;
    --black-opaque: #0006;
    --blue-opaque: rgba(0,38,198,0.5);
    --white-opaque: #fff6;
    --white: #fff;
    --grey: #282828;
    --light-grey: #575757;
    --lighter-grey: #8b8b8b;
    --red: #ff0800;
}

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;

}

body {
    min-height: 100vh;

    background-color: var(--black);
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--white-opaque);
}

body::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: var(--black-opaque);
}

body div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer{
    display: flex;
    text-align: center;
    background-color: var(--grey);
    padding: 10px;
    font-size: .75rem;
    color: var(--blacker);
    width: 100vw;
}