.coverContainer {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.coverClose {
    display: inline-block;
    position: absolute;
    top: -1em;
    right: -2rem;
    font-size: 3rem;
    color: var(--red);
    cursor: pointer;
    z-index: 3;
    border-radius: 6px;
    height: 30px;
    line-height: 30px; /* Ensure the icon is vertically centered */
  }

  .coverClose:hover {
    background-color: var(--red);
    color: var(--white);
  }

  .coverImage {
    max-height: 480px;
    max-width: 280px;
  }

  .blur {
    filter: blur(5px);
    pointer-events: none;
  }
